@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.intro-links{
    display:flex;
    width: 72%;
    margin: 0 auto; 
    justify-content: space-between;
} 
h3{
    display: flex;
    align-items: center;
    width: 30%;
    padding: 10px;
    font-size: 30px;
    margin: 0.25em 0 0.35em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: -.3px; 
    color:  #00ccb1;
} 
.icon{
width: 20px !important; 
height: 20px;
margin: 0 7px; 
color: #747474;

} 
p{
    color: #747474;
    font-weight: 500;
    margin: 0;
}
.links{
    display: flex;
    width: 67%;
} 
.links ul {
    align-items: center;
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    list-style: none;
    width: 100%; 
    padding: 0;
}
.links ul li{ 
    display: flex;
    width: 18%; 
    margin:10px;
    font-size: 1rem;
    padding: 5px 0 5px 5px;
} 
.links ul li img {
    width: 55%; 

}
